.photo-grid {
    max-width: 882px;
    padding: 0;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 900px) {
    .photo-grid {
      padding-left: 19px;
      padding-right: 19px;
    }
  }
  
 