.popup__save-button {
  height: 50px;
  font-size: 18px;
  line-height: 22px;  
  text-align: center;
  font-weight: normal;
  background-color: #000;
  color: #fff;
  margin-top: 18px;
  transition: background-color .3s linear;
}



