.photo-grid__button {
      width: 22px;
      height: 19px;
      box-sizing: border-box;
      border: none;
      cursor: pointer;
      padding: 0;
      background-image: url(../../../images/places/Vector.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-color: #FFFFFF;
      transition: opacity .3s ease;
  }

  .photo-grid__button:hover {
    opacity: .3;
  }